{% extends 'members/base.html' %}
{% load staticfiles %}

{% block page_title %}Music Library{% endblock %}
{% block page_header %}Music Library{% endblock %}

{% block content %}
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#view-library" aria-controls="view-library" role="tab" data-toggle="tab">View Library</a>
            </li>
            <li role="presentation">
                <a href="#add-work" aria-controls="add-work" role="tab" data-toggle="tab">Add Musical Work</a>
            </li>
            <li role="presentation">
                <a href="#add-composer" aria-controls="add-composer" role="tab" data-toggle="tab">Add Composer</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="view-library">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Composer(s)</th>
                                <th>Arranger(s)</th>
                                <th>Category</th>
                                <th>Grade</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for musical_work in musical_works %}
                                <tr>
                                    <td>{{ musical_work.library_id }}</td>
                                    <td>{{ musical_work.name }}</td>
                                    <td><span title="{{ musical_work.composers_long_display }}">{{ musical_work.composers_short_display }}</span></td>
                                    <td><span title="{{ musical_work.arrangers_long_display }}">{{ musical_work.arrangers_short_display }}</span></td>
                                    <td>{{ musical_work.category.name }}</td>
                                    <td>{{ musical_work.grade_display }}</td>
                                    <td>{{ musical_work.notes }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="7">No records found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="add-work">
                <form>
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="add_work_library_id">Library ID</label>
                                <input type="input" class="form-control" id="add_work_library_id" placeholder="{{ musical_works_next_library_id }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="add_work_name">Name of Work</label>
                                <input type="input" class="form-control" id="add_work_name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="add_work_grade">Difficulty Grade</label>
                                <select class="form-control" id="add_work_grade">
                                    <option>N/A</option>
                                    {% for choice in musical_work_grade_choices %}
                                        <option value="{{ choice.value }}">{{ choice.display }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="add_work_notes">Notes</label>
                                <textarea class="form-control" id="add_work_notes" rows="5" style="resize: none"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="add_work_category">Category</label>
                                        <select class="form-control" id="add_work_category">
                                            {% for category in musical_work_categories %}
                                                <option value="{{ category.pk }}">{{ category.name }}</option>
                                            {% endfor %}
                                            <option value="new">New Category</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group hidden">
                                        <label for="add_work_new_category">New Category</label>
                                        <input type="input" class="form-control" id="add_work_new_category">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="add_work_composers">Composers</label>
                                <select class="form-control" id="add_work_composers" multiple size="10">
                                    {% for composer in composers %}
                                        <option value="{{ composer.pk }}">{{ composer.full_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="add_work_arrangers">Arrangers</label>
                                <select class="form-control" id="add_work_arrangers" multiple size="10">
                                    {% for composer in composers %}
                                        <option value="{{ composer.pk }}">{{ composer.full_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Add New Musical Work</button>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="add-composer">
                <form>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="add_composer_first_name">First Name</label>
                                <input type="input" class="form-control" id="add_composer_first_name"">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="add_composer_middle_name">Middle Name</label>
                                <input type="input" class="form-control" id="add_composer_middle_name"">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="add_composer_last_name">Last Name</label>
                                <input type="input" class="form-control" id="add_composer_last_name"">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Add New Composer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'members/js/library.js' %}"></script>
{% endblock %}