<ul class="nav nav-sidebar">
    <li{% if full_url_name == 'members:index' %} class="active"{% endif %}><a href="{% url 'members:index' %}">Dashboard</a></li>
</ul>

{% if 'music' in installed_apps %}
    <ul class="nav nav-sidebar">
        <li{% if full_url_name == 'members:music:concerts' %} class="active"{% endif %}><a href="{% url 'members:music:concerts' %}">Concerts</a></li>
        <li{% if full_url_name == 'members:music:library' %} class="active"{% endif %}><a href="{% url 'members:music:library' %}">Library</a></li>
        <li{% if full_url_name == 'members:music:instruments' %} class="active"{% endif %}><a href="{% url 'members:music:instruments' %}">Instruments</a></li>
    </ul>
{% endif %}